{% extends "dashboard_base.html" %}
{% load static %}



{% block head %}
    {{ block.super }}
    <title>Smart - Agregar Producto</title>
    <link rel="stylesheet" href="{% static 'inventory/css/add_product.css' %}">
{% endblock %}



{% block dashboard %}
<h1>NUEVO PRODUCTO</h1>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt rerum adipisci 
    <br>
    dolores, maiores fugit sed cupiditate mollitia praesentium, obcaecati itaque quis ratione 
    <br>
    beatae voluptatem voluptatibus maxime modi veritatis. Est.
</p>
{% endblock %}