{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block title %}{% endblock %}</title>

        {% block head %}{% endblock %}
        
        <link rel="stylesheet" href="{% static 'css/materialize.cdn.css' %}">

    </head>
    <body>

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>
        </nav>


        {% block body %}{% endblock %}

        <script src="{% static 'js/materialize.cdn.js' %}"></script>

    </body>
</html>