{% extends "base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard_base.css' %}">
{% endblock %}


{% block body %}
{% comment %} {% with url_name=request.resolver_match.url_name %} {% endcomment %}

    <ul id="slide-out" class="sidenav sidenav-fixed sidebar-gradient">
        <li>
            <div class="user-view">
                <div class="background-overlay"></div>
                <a href="#user"><img class="circle" src="https://ui-avatars.com/api/?name=Admin+User&background=fff&color=b71c1c"></a>
                <a href="#name"><span class="white-text name">{{ user.username }}</span></a>
                <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
            </div>
        </li>

        <li><a class="subheader white-text">GESTIÓN DE INVENTARIO</a></li>

        
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                
                <li class="no-padding white-text">
                    <a href="/inventory/dashboard" class="collapsible-header white-text waves-effect waves-light">
                        <i class="material-icons white-text">dashboard</i>Dashboard
                    </a>  
                </li>
                    
                <li > <a class="collapsible-header white-text waves-effect waves-light">
                        <i class="material-icons white-text">inventory_2</i>Productos
                        <i class="material-icons right white-text arrow-icon">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="active-item"><a href="/inventory/products" class="waves-effect element-lateral-bar-color">Listado General</a></li>
                            <li><a href="/inventory/add-product" class="waves-effect element-lateral-bar-color">Nuevo Producto</a></li>
                            <li><a href="/inventory/update-product" class="waves-effect element-lateral-bar-color">Edición Masiva</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a class="collapsible-header white-text waves-effect waves-light">
                        <i class="material-icons white-text">category</i>Categorías
                        <i class="material-icons right white-text arrow-icon">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/inventory/categories" class="waves-effect element-lateral-bar-color">Ver Categorías</a></li>
                            <li><a href="/inventory/categories-tree" class="waves-effect element-lateral-bar-color">Árbol de Categorías</a></li>
                            <li><a href="/inventory/add-category" class="waves-effect element-lateral-bar-color">Nueva Categoría</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a class="collapsible-header white-text waves-effect waves-light">
                        <i class="material-icons white-text">verified</i>Marcas
                        <i class="material-icons right white-text arrow-icon">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!" class="waves-effect element-lateral-bar-color">Listado de Marcas</a></li>
                            <li><a href="#!" class="waves-effect element-lateral-bar-color">Nueva Marca</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a class="collapsible-header white-text waves-effect waves-light">
                        <i class="material-icons white-text">warehouse</i>Bodegas
                        <i class="material-icons right white-text arrow-icon">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!" class="waves-effect element-lateral-bar-color">Gestionar Bodegas</a></li>
                            <li><a href="#!" class="waves-effect element-lateral-bar-color">Transferencias</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a class="collapsible-header white-text waves-effect waves-light">
                        <i class="material-icons white-text">analytics</i>Control Stock
                        <i class="material-icons right white-text arrow-icon">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!" class="waves-effect element-lateral-bar-color">Consultar Stock Actual</a></li>
                            <li><a href="#!" class="waves-effect element-lateral-bar-color">Movimientos (Kardex)</a></li>
                            <li><a href="#!" class="waves-effect element-lateral-bar-color">Alertas Stock Mínimo</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <main>
    <nav class="white z-depth-1 top-nav">
        <div class="nav-wrapper">
            <div class="col s12 navbar-space-left">
            
                <a href="#!" class="breadcrumb red-text text-darken-3">Inventario</a>
                <a href="/inventory/products" class="breadcrumb red-text text-darken-3">Productos</a>
                <a href="#!" class="breadcrumb grey-text text-darken-3">Listado</a>

                <ul class="right">
                    <li>
                        <a href="#!">
                            <i class="material-icons grey-text text-darken-2">notifications</i>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:8000/users/signout/">
                            <i class="material-icons grey-text text-darken-2">exit_to_app</i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

        {% block dashboard %}{% endblock %}
    </main>

    <footer><center><h3>PRONTO UN FOOTER .. .</h3></center></footer>

    <script src="{% static 'js/dashboard_base.js' %}"></script>

{% endblock %}